body {
    background-color: gray;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul a {
    width: 200px;
    height: 40px;
    display: block;
    text-decoration: none;
    color: black;
    text-indent: 30px;
    line-height: 40px;
    background: url(..//imagens/menu.png) no-repeat left bottom;
    
}

a:hover {
    background-position: right bottom;
    color: blanchedalmond;
}